@import "../colors/colors";

.container-fluid{
    background-color: map-get($colores, azul_oscuro);
        span{
            color: map-get($colores, azul_claro);
        }
        .quienes{
            padding: 10px;
            display: flex;
            justify-content: center;
                img{
                    height: 20%;
                    width: 85%;
                }
        }
        .somos{
            display: flex;
            align-items: center;
            p{
                font-size: 1rem;
                width: 100%;
                text-align: justify;
            }
        }
}

@media screen and (max-width: 420px) {
    .container-fluid{
        background-color: map-get($colores, azul_oscuro);
            span{
                color: map-get($colores, azul_claro);
            }
            .quienes{
                padding: 10px;
                display: flex;
                justify-content: center;
                    img{
                        height: 20%;
                        width: 100%;
                    }
            }
            .somos{
                display: flex;
                align-items: center;
                p{
                    font-size: 0.8rem;
                    width: 100%;
                    text-align: justify;
                }
            }
    }
}


.caja{
    padding: 12px;
}



.container{
    font-weight: bolder;
}

.row{
    justify-content: center;
}