@import "../colors/colors";
@import "../vars/vars";
.carousel-item{  
    img{
        width: $ancho_img;
        height: $alto_img;
    }
}

.carousel-control{
    &-prev-icon{
        background-color: map-get($colores, azul_oscuro);
    }
    &-next-icon{
        background-color: map-get($colores, azul_oscuro);
    }
}
