@import "../colors/colors";
.navbar{
    padding: 0;
    margin-bottom: 4rem;
        &-collapse{
            display :flex; 
            justify-content:end;
        }
        &-toggler{
            background-color: map-get($colores, clarito);
                &-icon{
                    background-color: map-get($colores, clarito);
                }
        }
        &-brand{
            color: map-get($colores, clarito);
                &:hover{
                    color: map-get($colores, clarito);
                    text-decoration: none;
                }
                &:focus{
                    color: map-get($colores, clarito);
                }
        }
}
.nav-link{
    color: map-get($colores, clarito);
        &:hover{
            color: map-get($colores, azul_claro);
            text-decoration: none;
        }
        &:focus{
            color: map-get($colores, azul_claro);
        }
}


nav div ul li {
    margin-left: 2rem; 
    margin-right: 2rem;
}

.dropdown{
        &-menu{
            background-color: map-get($colores, azul_oscuro);
        }
        &-item{
            color: map-get($colores, clarito);
        }
}

